@import 'base/variables';
@import 'base/fonts';
@import 'layout/header';
@import 'layout/footer';
@import 'utils/mixin';
@import 'components/slider';
@import 'components/services';
@import 'components/portfolio';


body {
    height: 3000px;
}

.wrapper {
    max-width: $widthDefault;
    margin: 0 auto;
}