$gray-blue: #3a494c;
$white-blue: #035d6e;
$white: #fff;
$gray: #666666;
$lime-green: #98d2a4;
$dark-yellow: #3a372a;
$dark-gray: #2c2c2c;

$widthDefault: 1200px !global;
$widthCustom: 1170px !global;